body
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
	color: #444455;
	background-color: #99aabb;
}

/* INHALT TABELLE KOMPLETT */
#komplett {
	padding:10px;
}

a:link
{
	text-decoration: none;
	color: #222233;
	border-bottom: 1px dotted #222255;
}

a:active
{
	text-decoration: none;
	color: #000000;
	border-bottom: 1px dotted #222255;
}

a:visited
{
	text-decoration: none;
	color: #333344;
	border-bottom: 1px dotted #222255;
}

a:hover
{
	text-decoration: none;
	color: #000000;
	border-bottom: none;
}

a.imagelink
{
	border: none;
}

a.imagelink img
{
	border: none;
}

hr
{
	border: 1px solid #aaaaaa;
	background-color: #aaaaaa;
}

img {
	border: 0px solid #ffffff;
}

/*TABELLENFORMATIERUNG */
.linieunten {
	border-bottom: 1px solid #aaaaaa;
}
.linieoben {
	border-top: 1px solid #aaaaaa;
}
.linieuntenoben {
	border-bottom: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
}
.linierechtsunten {
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}
.linierechtsuntenoben {
	border-bottom: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}
.linierechtslinksunten {
	border-bottom: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}
.liniekomplett {
	border: 1px solid #aaaaaa;
}

#tabelle1 td {
	padding:5px;
}
#tabelle1 tr {
	border: 1px solid #aaaaaa;
	padding:5px;
}

#tabelle2 {
	margin-bottom:10px;
}
#tabelle2 td {
	padding:5px;
}

#tabelle3 td {
	padding:5px;
}

#tabelle4 td {
	padding:5px;
}

div#header
{
	margin: 0px 10%;
	text-align: right;
}

div#nav
{
	background-color: #ffffff;
	border: 1px solid #777777;
	padding: 10px;
	margin: 40px 25px;
	width: 130px;
	float: left;
}

div#nav a
{
	display: block;
	border-bottom: none;
	line-height: 2em;
	border-bottom: 1px dotted #777777;
}

div#nav a:hover
{
	background-color: #eeeeee;
}

div#langlinks
{
	text-align: right;
	margin: 0px 40px;
	padding: 0px;
}

div#content
{
	background-color: #ffffff;
	border: 2px solid #777777;
	margin: 5px 20px;
	padding-top: 10px;
	padding-left: 180px;
	padding-right: 20px;
	padding-bottom: 20px;
	min-width: 500px;
	min-height: 800px;
}

div.quotbox
{
	float: right;
	width: 35%;
	min-width: 150px;
	background-color: #eeeeee;
	border: 1px dashed #777777;
	margin: 5px;
	padding: 10px;
}

img.lquot
{
	vertical-align: text-bottom;
}

img.rquot
{
	vertical-align: text-top;
}

span.bquot
{
	float: left;
}

img.pquot
{
	float: right;
	margin-left: 4px;
}

div.center
{
	text-align: center;
	display: block;
}

div.picbox, div.picmodule
{
	float: right;
	text-align: center;
	background-color: #eeeeee;
	border: 1px dashed #777777;
	margin: 5px;
	padding: 10px;
}

table.boxes {
}

table.boxes td {
        background-color: #ffffff;
        border: 1px solid #777777;
}

div.testimony
{
	background-color: #eeeeee;
	border: 1px dashed #777777;
	margin: 5px;
	margin-top: 25px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	display: block;
	text-align: justify;
	min-height: 250px;
}

div.testimonylogo {
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	text-align: center;
}

div.testimonylogo a, div.testimonylogo a:hover {
	border-bottom: 0px dotted #222255;
}

div.testimonyportrait {
	float: left;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 11px;
}

div.testimonyportraitquote {
	float: left; 
	text-align: left; 
	font-weight: bold; 
	font-size: 11px; 
	padding-right: 10px;
}

ul.inilist
{
	width: 70%;
}


.left
{
	float: left;
}


td.form_normal
{
}

td.form_error
{
	color: #ff0000;
}

/*FOOOTER*/
#footer {
	 text-align:center;
	 font-size:0.8em;
}