/* -*- coding: utf-8; mode: fundamental -*- */

body { color: #004010; background-color: #F4FEF8 }
H1,H2,H3,H4,H5,H6 { font-family:verdana,helvetica,arial,sans-serif; }
a {font-family:verdana,helvetica,arial,sans-serif}
a:link { text-decoration:none; font-weight: bold; color: #0000AA;  }
a:visited{ text-decoration:none; color: #0000CC;  }
a:hover { text-decoration:none; font-weight: bold; color: #E00000; }
a:active { text-decoration:none;font-weight:bold; text-decoration: underline }
a:focus { font-weight:bold; color: #00E000; text-decoration: underline }
#dokdes { font-style: italic; font-weight: bold; color: #004010; background-color: #C0F7D0; padding: 1ex; border-bottom-style: solid;
 border-top-style: solid; border-bottom-width: 2px; border-top-width: 2px;
 border-color: #C0F7D0 }
.cfet { font-style: italic; padding: 1ex }
#doktit { font-size: x-large; text-align: center; padding: 2ex; font-family: verdana, helvetica, arial, sans-serif; font-weight: bolder; text-transform: none }
#dokdes { font-style: italic; font-weight: bold; color: #004010; background-color: #C0F7D0; padding: 1ex; text-transform: none }
.sectmenu { font-weight: bold; text-decoration: underline; border-width: 1ex;
  border-style: solid; border-color: #C0F7D0; padding: 1ex;
 margin-bottom: 2ex; }
.secttext { border-width: 1ex; padding: 1ex; }
.secthead { text-transform: capitalize; background-color: #C0F7D0; border-bottom-width: 1ex; padding: 3px }
.sectbody { border-width: 1ex; padding: 1ex; }
div.links { background-color: #FEF8F4; border-color: #F7D0C0; border-width: 1ex; padding: 1ex; border-style: solid; }
div.tasks { border-color: #C0F7D0; border-width: 1ex; padding: 1ex; border-style: solid; }
div.dokmenu { border-color: #C0F7D0; border-width: 1ex; padding: 1ex; border-style: solid; }
.doklvl1 { background-color: #F4FEF8; text-align: center }
.doklvl2 { background-color: #E0FBE8; text-align: center }
.doklvl3 { background-color: #D0F9DC; text-align: center }
.doklvl4 { background-color: #C0F7D0; text-align: center }
.doklvl5 { background-color: #B0F5C5; text-align: center }
.doklvl6 { background-color: #A0F3B9; text-align: center }
.doklvl7 { background-color: #90F1AD; text-align: center }
.doklvl8 { background-color: #80EEA0; text-align: center }
.doklvl9 { background-color: #70EC94; text-align: center }
.eqdok { background-color: #004010; color: #F4FEF8; font-style: normal; font-weight: bolder; text-align: center; } 
#doktop { }
#dokmid { }
#dokped { border-top-style: solid; border-top-width: 1ex; margin-top: 1ex;
padding: 1ex; border-color: #004010;
font-size: smaller }
#toparb { text-align: center }
#toprel { text-align: left }
#pedarb { text-align: center }
#pedbot { text-align: center }
#pednot { border-style: solid; border-left-width: 2px; border-right-width: 2px; border-color: #004010; font-size: smaller }
#pedbot { text-align: center }
#pedadr { text-align: right }
.cit { font-weight: bold; color: #401000;
 background-color: #F7D0C0; border-color: #401000; border-width: 1ex; padding: 2ex; 
margin-top: 1ex; margin-left: 2ex; margin-bottom: 1ex; margin-right: 1ex }
.news { border-style: solid; border-color: #004010; padding: 0ex }
.newsitem { padding: 0ex }
.newstit { color: #C0F7D0; background-color: #004010; font-size: larger;
 font-weight: bolder; text-transform: capitalize; padding: 1ex }
.newsdat { text-align: right; padding: 1ex; font-weight: bold }
.newstxt { font-weight: bold; padding: 1ex }
.cusku { background-color: #FFFFFF; padding: 2ex; margin: 1ex;
border-style: solid; border-color: #401000 }
.cuskutit { background-color: #F8F4F0; }
.cuskuref { text-align: right; }
.cuskuint { font-style: italic; }
.cuskutxt { font-weight: bold; color: #401000; background-color: #F7D0C0; border-color: #401000; border-width: 1ex; padding: 2ex; margin-top: 1ex; margin-left: 2ex; margin-bottom: 1ex; margin-right: 1ex }
