body{
	margin:0px;
	 padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
}

p, th, td {
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
}


h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#FF660E;
	font-size: 14px;
	margin-top: 2px;
	margin-bottom: 0px;
}
h2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#666666;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 3px;
}
h3{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#000000;
	font-size: 12px;
	margin:0px;
	padding:0px;
	margin-bottom: 3px;
}
h4{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#FF660E;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 3px;
	padding:0px;
}
h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#000000;
	font-size: 16px;
	margin-top: 2px;
	margin-bottom: 0px;
}



.rechts {
	text-align: right;
}

.mitte{
    text-align:center;
    vertical-align:middle;
}
.fett {
	font-weight: bold;
}

.rand {
	padding:12px;
	padding-right:16px;
	vertical-align:top;
}

.rand2 {
	padding:25px;
	padding-top:0px;
}
.randtop {
	padding-right:14px;
	padding-bottom:0px;
	margin-bottom:0px;
	vertical-align:bottom;
}

.error {
	color:#666666;
   font-weight:bold;
}

.teaser {
  font-weight: normal;
  font-size:12px;
}

#formular {
	position:absolute; top: 300px; left: 280px;
}





a:link { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
   color:#000099;
	font-size: 12px;
	text-decoration:underline;
}

a:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
   color:#000099;
	font-size: 12px;
   text-decoration:none;  
   text-decoration:underline;
} 

a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
   color:#000099;
	font-size: 12px;
   text-decoration:underline;
      text-decoration:none;  
}  
 
a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
   color:#000099;
	font-size: 12px;
   text-decoration:none;
	font-weight: normal;
}
  
a:focus {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#FF660E;
	 color:#000099;
	font-size: 12px;
	font-weight: normal;
   text-decoration:underline;
}





a.top:link { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
	color:#666666;
	font-size: 14px;
   text-decoration:none; 
}

a.top:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
	color:#666666;
	font-size: 14px;
   text-decoration:none;  
} 

a.top:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
	color:#666666;
	font-size: 14px;
   text-decoration:underline; 
}  
 
a.top:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	font-size: 14px;
   text-decoration:none;
   font-weight: bold;
}
  
a.top:focus {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	font-size: 14px;
   font-weight: bold;
}







a.start:link { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 12px; 
   color:#000000;
   text-decoration:none; 
}

a.start:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 12px; 
   color:#000000;
   text-decoration:none;  
} 

a.start:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 12px; 
   color:#000000;
   text-decoration:underline; 
}  
 
a.start:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px; 
    color:#000000;
   text-decoration:none;
   font-weight: bold;  
}
  
a.start:focus {
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px; 
   color:#000000;
   font-weight: bold;
}



a.orange:link { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 12px; 
    color:#FF660E;
   text-decoration:none; 
}

a.orange:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 12px; 
    color:#FF660E;
   text-decoration:none;  
} 

a.orange:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 12px; 
    color:#FF660E;
   text-decoration:underline; 
}  
 
a.orange:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px; 
    color:#FF660E;
   text-decoration:none;
   font-weight: bold;  
}
  
a.orange:focus {
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px; 
    color:#FF660E;
   font-weight: bold;
}
